
<div class="min-h-full">
  <%= render "shared/nav" %>
  <main>
    <div class="mx-auto max-w-5xl py-6 flex flex-col gap-4 bg-gray-50">
      <div class="mx-auto max-w-3xl sm:px-6 lg:px-8 ">
        <header class="flex flex-col mt-6 ">
          <time
          dateTime=<%= @article.created_at%>
          class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500">
            <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"> </span>
            <span class="ml-3"><%= @article.created_at.strftime("%b %d, %Y ") %></span>
          </time>
          <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-900"><%= @article.title %></h1>
          
        </header>
        <div class=" mt-4">
          <%= @article.body %>
        </div>
        <% if @article.comments.count > 0 %>
          <div class="w-3xl border-b border-gray-200 py-5 ">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Comments</h3>
          </div>
        <% end %>
        
        <ul role="list" class="divide-y divide-gray-100">
          <%= render @article.comments %>
        </ul>
        <div class="max-w-3xl border-b border-gray-200 py-5 ">
          <h3 class="text-base font-semibold leading-6 text-gray-900">Add a comment</h3>
        </div>
        <div class="max-w-3xl py-4">
          <%= render 'comments/form' %>
        </div>
      </div>

      

    </div>
  </main>
</div>



